.cont {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Чтобы элементы выровнялись по вертикали */
}
.item {
  padding: 0;
  width: 100%;
}
