.text {
  color: brown;
  font-size: 40px;
}
.cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
}
